html {
    background-color: #b5f5c6;
}
.wrapper {
    left: 160px;
    display: flex; 
}

.wrapper > div {
    flex: 1;
}
.box1 {
    background-color: gold;
}
.box2 {
    background-color: silver;
}
.box3 {
    background-color:peru;
}
.box {
     background-color: #61ba79
}
img {
    width: 75px;
}
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 20;
    left: 0;
    background-color: #b5f5c6;
  }
